#results{
  display:show;
}
#java{
  display:none;
}
#c-sharp{
  display:none;
}
#ruby{
  display:none;
}
#html{
  display:none;
}

#answers {
  display: none;
}
body{
  background-image: url(https://cpb-us-w2.wpmucdn.com/u.osu.edu/dist/7/41390/files/2017/02/Technology-y946sh.png);
}
h2{
  text-align: center;
}
